.img-container {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 80px 0px;
  // margin: 80px 0px;

  .container_div {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: var(--unit);
    padding: 0px 10px;

    &.cont_div {
      flex-direction: row-reverse !important;

      // .image{
      //     justify-content: flex-start !important;
      // }

      // .content{
      //   align-items: flex-end;

      //   p{
      //     text-align: right;
      //   }
      // }
    }

    .image {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        width: 80%;
      }
    }

    .content {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: var(--unit);

      h2 {
        border-bottom: 3px solid var(--accent);
      }

      p {
        // text-align: center;
        word-spacing: 10px;
      }
    }
  }
}

.product_list_parent {
  width: 100%;
  height: auto;
  padding: 40px 0px;


  &.shop_product{
    margin-top: 110px;
  }

  .product_list_cont {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--unit) * 2);

    .top {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid grey;
      padding: 10px 0px;

      .left {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--unit);
      }

      .right {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        position: relative;

        input {
          width: 50%;
          height: 40px;
          padding: 10px;
          border-radius: 25px;
          border: none;
          outline: 1px solid var(--black);
          padding-right: 30px;
        }

        span {
          position: absolute;
          top: 50%;
          right: 2%;
          transform: translateY(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: var(--unit);

      .card {
        width: 300px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

        .image {
          width: 100%;
          height: 60%;
          display: flex;
          justify-content: center;
          align-items: center;

          .img {
            width: 100%;
            height: 100%;
            background-image: url("../../asstes/Wings-10-scaled.webp");
          }
        }
        .content {
          width: 100%;
          height: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: calc(var(--unit) / 2);
          padding: 0px var(--unit);
          color: var(--black);

          .price {
            // margin-top: 10px;
            color: var(--accent);
          }

       
        }
      }
    }
  }
}

.image_section_parent {
  width: 100%;
  height: 150svh;
  background-color: #decca8;
  padding: 80px 0px;

  h2 {
    width: 100%;
    padding: 0px 20px;
    text-align: center;
    color: var(--accent);
    font-size: calc(var(--unit) * 3);
  }
  .image_section_cont {
    height: 100%;
    position: relative;

    .img1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 70%;
      width: 50%;
    }

    .img2 {
      position: absolute;
      top: 20%;
      right: 0;
      height: 40%;
      width: 30%;
    }

    .img3 {
      position: absolute;
      top: 20%;
      left: 0;
      height: 40%;
      width: 30%;
    }
    .img4 {
      position: absolute;
      bottom: 0;
      left: 10%;
      height: 25%;
      aspect-ratio: 1;
    }
    .img5 {
      position: absolute;
      bottom: 0;
      right: 10%;
      height: 25%;
      aspect-ratio: 1;
    }
  }
}

.video_section {
  width: 100%;
  aspect-ratio: 19/6;
  background-image: url("../../asstes/video-home-2.gif");
  background-attachment: fixed;
}
.qoute_section {
  width: 100%;
  padding: 40px 0px;
  background-color: #decca8;
  height: auto;

  .qoute_section_cont {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(var(--unit) * 2);

    .qoute {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 110px;

      h2 {
        color: var(--black);
        font-weight: 700;
        font-size: inherit;
        line-height: 80%;
        text-align: center;
      }
    }

    .para {
      text-align: center;
      font-size: 16px;
    }

  
  }
}

// .navigate_parent{
//     width: 100%;
//     height: 100svh;
//     background-color: var(--black);
//     top: -100%;
//     left: 0;
//     position: fixed;
//     z-index: 9999999999;

//     animation: swipediv 1s linear forwards;

//     @keyframes swipediv {
//         0%{
//             top: -100%;
//         }
//         50%{
//             top: 5%;
//         }

//         100%{
//             top: -100%;
//         }
//     }

// }

@media only screen and (max-width: 700px) {
  .img-container {
    height: 50svh;

    .container_div {
      .content {
        h2 {
          font-size: 15px;
        }
      }
    }
  }

  .product_list_parent {
    .product_list_cont {
      .top {
        .right {
          input {
            width: 100%;
          }
        }
      }
    }
  }

  .image_section_parent {
    .image_section_cont {
      .img1 {
        height: 50%;
      }

      .img2 {
        height: 20%;
        top: 8%;
        right: 15%;
      }

      .img3 {
        height: 25%;
        left: 15%;
        top: 8%;
      }

      .img4 {
        left: 50%;
        bottom: 10%;
      }

      .img5 {
        bottom: 0;
        right: 50%;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .image_section_parent {
    .image_section_cont {
      .img1 {
        height: 50%;
      }

      .img2 {
        height: 30%;
        top: 8%;
        right: 15%;
      }

      .img3 {
        height: 30%;
        left: 15%;
        top: 8%;
      }

      .img4 {
        left: 30%;
        bottom: 10%;
      }

      .img5 {
        bottom: 0;
        right: 30%;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .image_section_parent {
    height: auto !important;
    .image_section_cont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      position: relative;

      

      .img1{
        position: static !important;
        width: 100%;
        aspect-ratio: 1;
        transform: translate(0,0) !important;
      }
      .img2,
      .img3,
      .img4,
      .img5 {
        position: static !important;
        width: 100%;
        aspect-ratio: 1;
      }
    }
  }

  .qoute_section {
.qoute_section_cont{

  .qoute{
    h2{
      font-size: 66px;
    }
  }
}
  }
}
