.herosection_parent {
  width: 100%;
  height: 100svh;
  background-color: var(--accent);
  position: relative;

  .herosection_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;

    gap: calc(var(--unit)*2);
    .headings_list {
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .hero_heading {
        width: 100%;
        font-size: 150px;
        height: 165px;

        overflow: hidden;
        &:nth-child(2) {
          height: 130px;
        }
        &:nth-child(3) {
          height: 130px;
        }
        position: relative;

        h2 {
          font-size: inherit;
          position: absolute;

          text-align: center;
          color: var(--white);
          line-height: 100%;
          left: 50%;
          transform: translateX(-50%);
          top: 100%;

          animation: viewText 0.5s ease-in-out forwards;

          @keyframes viewText {
            0% {
              top: 100%;
            }
            100% {
              top: 0;
            }
          }
        }
      }
    }

    .tea_btn {
      width: 200px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: stretch;
      gap: calc(var(--unit) / 2);
      padding: 10px 20px;
      border: 1px solid var(--white);
      border-radius: 25px;
      cursor: pointer;
      position: relative;
      transition: var(--trans);

      span {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);

        img {
          height: 30px;
          transform: rotateY(180deg);
        }
      }

      .animation {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: var(--trans);

        img {
          height: 40px;
        }

        .kettle {
          transform: rotateY(180deg);
          animation: pourf 3s linear forwards;

          @keyframes pourf {
            0% {
              transform: rotateY(180deg);
            }

            100% {
              transform: translate(7px, -16px) rotate(210deg) rotateX(150deg);
            }
          }
        }
      }

      &:hover {
        border: none;
        .animation {
          display: flex;
        }

        span {
          display: none;
        }
      }
    }
  }

  .image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 100%;

    img {
      height: 100%;
    }
  }
}


@media only screen and (max-width:1000px) {
 .herosection_parent{
  .herosection_cont{
    .headings_list{
      .hero_heading{
        font-size: 110px;
        height: 119px;
      }
    }
  }


 } 
}

@media only screen and (max-width:600px){
  .herosection_parent{
    .herosection_cont{
      position: relative;
      z-index: 2;
      .headings_list{
        .hero_heading{
          font-size: 80px;
          height: 84px;


          &:nth-child(2){
            height: 78px;
          }
        }
      }
    }
  
  .image{
    right: 15%;
  }
   } 
}