:root {
  --white: #ffffff;
  --black: #000000;
  --accent: #432e1d;
  --accent2: #decca8;
  --teal: #227b94;
  --light-blue: #78b7d0;
  --yellow: #ffdc7f;
  --grey: #747c84;
  --light-grey: #b7bdc1;
  --unit: 20px;
  --max-width: 1200px;
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);
  --trans: all 0.4s ease-in-out;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*::after,
*::before,
* {
  box-sizing: border-box;
  // border: 1px solid red;
  margin: 0px;
  font-family: "Poppins" sans-serif;
}
body {
  width: 100%;
  overflow-x: hidden;
  // scroll-behavior: smooth;
  // background-color: var(--light-grey);
}

.App {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

[data-scroll-container] {
  height: auto;
  min-height: 100%;
}

.parent {
  width: 100vw;

  .cont {
    max-width: var(--max-width);
    margin: auto;
    padding: 0px 10px;
    height: 100%;
  }
}

.bg-img-cover {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.bg-img-contain {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

a {
  text-decoration: none;
}

.tea_btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: calc(var(--unit) / 2);
  padding: 10px 20px;
  border: 1px solid var(--accent);
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  transition: var(--trans);
  color: var(--black);

  span{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--unit) / 3);

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: calc(var(--unit));
      color: inherit;

      svg{
        color: inherit;
      }
    }
  }
  &.enterBtn {
    .icons {
      .animatespan {
        animation: rotatepot 0.5s linear forwards;
        @keyframes rotatepot {
          from {
            transform: translateY(0) rotate(0);
          }
          to {
            transform: translate(62%, -60%) rotate(25deg);
          }
        }
      }
    }
  }

  &.exitBtn {
    .icons {
      .animatespan {
        transform: translate(62%, -60%) rotate(25deg);
        animation: revserserotateopot 0.5s linear forwards;

        @keyframes revserserotateopot {
          from {
            transform: translate(62%, -60%) rotate(25deg);
          }
          to {
            transform: translateY(0) rotate(0);
          }
        }
      }
    }
  }
}
